@font-face {
    font-family: font8bit;
    src: url('/font/8bit.TTF');
}

body{
    background-image: url(/img/bg-levelSelection.jpg);

  }



  div[class*="relative"]{
    display: inline;

  }

  form{
    display: inline-block;

  }


h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    color:white;
    font-family: font8bit;
}


div.relative1{
      position: relative;
      left: 19% ;
}

div.relative2{
      position: relative;
      left: 42%;
}

div.relative3{
      position: relative;
      left: 64%;
}
