.end {
  background-image: url('/img/die.png');
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  width: 12rem;
  height: 8rem;
  left: calc(50% - 6rem);
}

@media only screen and (max-width: 42em) {
  .end {
    width: 10rem;
    height: 6rem;
    left: calc(50% - 5rem);
  }
}
