@font-face {
    font-family: font8bit;
    src: url('/font/8bit.TTF');
}

body {
  background-color: #130a13;
  color: #DDD;
  margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: font8bit;
}


/****************************************
 *    โค้ดส่วนนี้ นำมาจาก
 *    http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
 */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/***************************************/

input[type=number], input[type=button], .start {
  outline: none;
  box-sizing: border-box;
  padding: .25rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: #fefefe;
  font-size: 1rem;
}

input[type=button] {
  background-color: #4cb3c9;
  border: 2px solid #0a134d;
  color: #FFF;
  font-size: 1.1rem;
}

input[type=number]:focus {
  border: 2px solid #4cb3c9;
}

input[type=button]:hover {
  background-color: #4d5dc9;
  border-color: #0a134d;
  border-radius: 3px;
}

input[type=button]:active {
  background-color: #192a9c;
}

.start {
  font-size: 2rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

@media only screen and (max-width: 42em) {
  .start {
    font-size: 1.5rem;
  }
}

.start:hover {
  background-color: #CCC;
}

.start:active {
  background-color: #AAA;
}

.right {
  float: right;
}

.header {
  margin: 0px;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  background-color: #400062;
}

.bar {
  border-spacing: 0px;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  table-layout: fixed;
}

.bar td {
  padding-top: 0.5rem;
  width: calc(50% - 5rem);
}

.time {
  width: 10rem !important;
  font-size: 2rem;
}

.hp-bar {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 1.5rem;
  display: block;
  border: 1px solid #7e7e7e;
}

.left-oblique {
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  transform: skew(-30deg);
}

.right-oblique {
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  transform: skew(30deg);
}

.hp {
  background-color: #0dc90d;
  width: 100%;
  height: 100%;
}

.details {
  width: 90%;
}

#QA {
  height: 6rem;
}

.answer {
  font-size: 1.25rem;
}

.question {
  padding: 0.75rem;
}

.question>span {
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: #FFF;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #000;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
