body {
  background-color: #130a13;
  color: #DDD;
  margin: 0px;
  height: 100vh;
}

.right {
  float: right;
}

.header {
  margin: 0px;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
}

.bar {
  border-spacing: 0px;
  width: 100%;
  padding: 0.5rem;
}

.bar tr td {
  width: 50%;
  padding-top: 0.5rem;
}

.hp-bar {
  background-color: rgba(0, 0, 0, 0);
  width: 90%;
  height: 1.5rem;
  display: block;
  border: 1px solid #7e7e7e;
}

.hp {
  background-color: #00ff00;
  width: 100%;
  height: 100%;
}

.details {
  width: 90%;
}

.question{
  padding: 0.75rem;
}

#q{
  font-size: 1.5rem;
  background-color: #FFF;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #000;
  border: 1px solid #373737;
}
