<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Battle</title>
    <link rel="stylesheet" href="/css/main.css">
</head>


<body>
    <div class="bg-head"><img src="/img/bg-head.jpg" class="size-imgHead"> </div>


  <center>
    <div class="bg-center">

        <img class="size-imgForm" src="/img/bg-form.jpg">
        <form action="createPlayer" method="post" style="position:relative;" class="bg-center">

            <input type="text" name="name" value="" style="">
            <input type="submit" name="" value="OK">
        </form>
    </div>
</center>

    <div class="bg-bottom">
        <img class="size-imgfoot" src="/img/bg-bottom.jpg">
    </div>
</body>

</html>
