<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Battle</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <img src="/img/home.jpg" alt="home">
  <form class="" action="createPlayer" method="post">
    <input type="text" name="name0" value="">
    <input type="text" name="name1" value="">
    <input type="text" name="name2" value="">
    <input type="text" name="name3" value="">
    <input type="text" name="name4" value="">
    <input type="submit" name="" value="OK">
  </form>
</body>

</html>
