<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Battle</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <img src="/img/home.jpg" alt="home">
  <h1>MATH</h1>
  <form class="" action="createPlayer" method="post">
    <input type="text" name="name" value="">
    <input type="submit" name="" value="OK">
  </form>

  <script src="/js/jquery-3.1.1.js" charset="utf-8"></script>
  <script type="text/javascript">

  </script>
</body>

</html>
