<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Select level</title>
</head>

<body>
  <form class="" action="selectLevel" method="post">
    <input type="hidden" name="level" value="1">
    <input type="submit" name="" value="SELECT LEVEL 1">
  </form>
  <form class="" action="selectLevel" method="post">
    <input type="hidden" name="level" value="2">
    <input type="submit" name="" value="SELECT LEVEL 2">
  </form>
  <form class="" action="selectLevel" method="post">
    <input type="hidden" name="level" value="3">
    <input type="submit" name="" value="SELECT LEVEL 3">
  </form>
</body>

</html>
