<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Battle</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
  <link rel="stylesheet" href="/css/play.css">
</head>

<body>
  <table class="header">
    <tr>
      <td>
        sad
      </td>
      <td>
        sad
      </td>
    </tr>
  </table>

  <h2 id="q">1+1</h2>
  <input type="text" id="ans">
  <input type="button" id="submit" value="Submit">

  <script src="/js/jquery-3.1.1.js" charset="utf-8"></script>
  <script type="text/javascript">
    $('#submit').click(function() {
      $('#ans').val('').focus();
      $('#q').text("5+5");
    });
  </script>
</body>

</html>
