<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Battle</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
  <link rel="stylesheet" href="/css/play.css">
  <link rel="stylesheet" href="/css/play_action.css">
  <script src="/js/jquery-3.1.1.js" charset="utf-8"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script type="text/javascript">
    // ตรวจสอบว่า มีการตั้งชื่อ และเลือกเลเวลแล้ว
    if ($.cookie("name") === undefined) {
      window.location.href = '/';
    } else if ($.cookie("level") === undefined) {
      window.location.href = '/level';
    }
  </script>
</head>

<body>
  <div class="header">
    <span id="name"></span>
    <span id="level" class="right"></span>
  </div>
  <table class="bar">
    <tr>
      <td>
        <div class="hp-bar left-oblique">
          <div id="ally" class="hp"></div>
        </div>
      </td>
      <td rowspan="2" class="time">
        <center id="count"></center>
      </td>
      <td>
        <div class="right hp-bar right-oblique">
          <div id="opponent" class="hp right"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="details detail-l">ME</span>
      </td>
      <td>
        <span class="details right"><span class="right detail-r">Koopa</span></span>
      </td>
    </tr>
  </table>
  <center id="QA">
    <button id="start" class="start">Start</button>
    <div class="content">
      <div class="question">
        <span id="q"></span>
      </div>
      <label class="answer">Answer : <input type="number" id="ans"></label>
      <input type="button" id="submit" value="Submit">
    </div>
  </center>
  <div class="action">
    <div id="mario">
    </div>
    <div id="blank">
      <div id="fireball"></div>
      <div id="koopaball"></div>
    </div>
    <div id="enemy">
    </div>
  </div>
  <div class="floor"></div>
  <script type="text/javascript">
    $('#name').text('Name : ' + decodeURI($.cookie("name")));
    $('#level').text('Level : ' + $.cookie("level"));
    $('.content').hide();
    $('#count').hide();
    $('#koopaball').hide();

    var countdown;
    var q;
    var res;
    const delay = 2000;

    var hp_a = 100;
    var hp_o = 100;

    $('#start').focus();
    $('#start').focusout(function() {
      if ($(this).is(":visible")) {
        $(this).focus();
      }
    })

    $('#ans').focusout(function() {
      if ($(this).is(":visible")) {
        $(this).focus();
      }
    })

    function reset() {
      $('#ans').val('');
      clearInterval(countdown);
      $('#start').text('Next');
      $('.content').hide();
    }

    function koopaFireAnimate() {
      $('#koopaball').show();
      var sec = delay / 1000;
      var x = setInterval(function() {
        sec--;
        if (sec <= 0) {
          $('#koopaball').hide();
          clearInterval(x);
        }
      }, 1000);
    };

    function fireballAnimate() {
      $('#fireball').addClass('bounce');
      var sec = delay / 1000;
      var x = setInterval(function() {
        sec--;
        if (sec <= 0) {
          $('#fireball').removeClass('bounce');
          clearInterval(x);
        }
      }, 1000);
    };

    // ฟังก์สำหรับลดเลือดเต่า
    function decreaseOppHP() {
      hp_o -= 20;
      $('#opponent').css("width", hp_o + '%');
      if (hp_o <= 20) {
        $('#opponent').css("background-color", "red");
      } else if (hp_o <= 60) {
        $('#opponent').css("background-color", "yellow");
      } else {
        $('#opponent').css("background-color", "#0dc90d");
      }

      if (hp_o <= 0) {
        var form = $('<form action="/result" method="POST">' +
          '<input type="hidden" name="result" value="winner">' +
          '</form>');
        $(document.body).append(form);
        form.submit();
      }
    }

    // ฟังก์สำหรับลดเลือดมาริโอ้
    function decreaseAllyHP() {
      hp_a -= 20;
      $('#ally').css("width", hp_a + '%');
      if (hp_a <= 20) {
        $('#ally').css("background-color", "red");
      } else if (hp_a <= 60) {
        $('#ally').css("background-color", "yellow");
      } else {
        $('#ally').css("background-color", "#0dc90d");
      }

      if (hp_a <= 0) {
        var form = $('<form action="/result" method="POST">' +
          '<input type="hidden" name="result" value="loser">' +
          '</form>');
        $(document.body).append(form);
        form.submit();
      }
    }

    function koopaAtk() {
      koopaFireAnimate();
      setTimeout(function() {
        decreaseAllyHP();
        $('#fireball').addClass('blink');
        $('#mario').addClass('blink');
        if (hp_o > 0 || hp_a > 0) {
          setTimeout(function() {
            $('#start').show();
            $('#start').focus();
          }, delay);
        }
        var sec = 1;
        var x = setInterval(function() {
          sec--;
          if (sec <= 0) {
            $('#fireball').removeClass('blink');
            $('#mario').removeClass('blink');
            clearInterval(x);
          }
        }, 1000);
      }, delay);
      reset();
    }

    function marioAtk() {
      fireballAnimate();
      setTimeout(function() {
        decreaseOppHP();
        $('#enemy').addClass('blink');
        if (hp_o > 0 || hp_a > 0) {
          setTimeout(function() {
            $('#start').show();
            $('#start').focus();
          }, 1000);
        }
        var sec = 1;
        var x = setInterval(function() {
          sec--;
          if (sec <= 0) {
            $('#enemy').removeClass('blink');
            clearInterval(x);
          }
        }, 1000);
      }, delay);
      reset();
    }

    // ฟังก์ชัน เพื่อ สุ่มคำถามในแต่ละเลเวล
    function randomQuestion(level) {
      if (level == 1) {
        return Math.floor((Math.random() * 9) + 1) + '+' + Math.floor((Math.random() * 9) + 1);
      } else if (level == 2) {
        return Math.floor((Math.random() * 99) + 1) + '+' + Math.floor((Math.random() * 99) + 1);
      } else {
        return Math.floor((Math.random() * 89) + 10) + '+' + Math.floor((Math.random() * 89) + 10) + '+' + Math.floor((Math.random() * 89) + 10);
      }
    }

    $('#start').click(function() {
      $(this).hide();
      $('.content').show();
      $('#count').show();
      $('#count').html('<font size="5">start</font>');
      q = randomQuestion($.cookie("level"));
      res = eval(q);
      $('#q').text(q);
      $('#ans').focus();

      var count = 10;
      countdown = setInterval(function() {
        $('#count').text(count);
        count--;
        if (count < 0) {
          $('#count').html('<font color="red">Time out</font>');
          koopaAtk();
        }
      }, 1000);

    });

    // เมื่อ กดปุ่ม submit
    $('#submit').click(function() {
      var a = $('#ans').val();  // รับค่าจากช่องกรอกคำตอบ
      if (a == res) {  // ถ้าตอบถูก ให้มาริโอ้ โจมตี
        $('#count').html('<font color="#0dc90d" size="5">right</font>');
        marioAtk();
      } else {         // ถ้าตอบผิด ให้เต่าโจมตี
        $('#count').html('<font color="red" size="5">Wrong</font>');
        koopaAtk();
      }
    });

    /****************************************
     *    โค้ดส่วนนี้ นำมาจาก
     *    http://stackoverflow.com/questions/9146651/trigger-an-event-on-click-and-enter
     */
    $('#ans').keypress(function(e) {
      if (e.which == 13) {
        $('#submit').click();
      }
    });
    /***************************************/
  </script>
</body>

</html>
