<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Battle</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
  <link rel="stylesheet" href="/css/play.css">
  <link rel="stylesheet" href="/css/play_action.css">
  <script src="/js/jquery-3.1.1.js" charset="utf-8"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script type="text/javascript">
    if ($.cookie("name") === undefined) {
      window.location.href = '/';
    } else if ($.cookie("level") === undefined) {
      window.location.href = '/level';
    }
  </script>
</head>

<body>
  <div class="header">
    <span id="name"></span>
    <span id="level" class="right"></span>
  </div>
  <table class="bar">
    <tr>
      <td>
        <div class="hp-bar left-oblique">
          <div id="ally" class="hp"></div>
        </div>
      </td>
      <td rowspan="2" class="time">
        <center id="count"></center>
      </td>
      <td>
        <div class="right hp-bar right-oblique">
          <div id="opponent" class="hp right"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="details detail-l">ME</span>
      </td>
      <td>
        <span class="details right"><span class="right detail-r">Koopa</span></span>
      </td>
    </tr>
  </table>
  <center id="QA">
    <button id="start" class="start">Start</button>
    <div class="content">
      <div class="question">
        <span id="q"></span>
      </div>
      <label class="answer">Answer : <input type="number" id="ans"></label>
      <input type="button" id="submit" value="Submit">
    </div>
  </center>
  <center>
    <div id="mario">
      <div id="fireball"></div>
    </div>
    <div id="blank">
    </div>
    <div id="enemy">

    </div>
  </center>
  <script type="text/javascript">
    $('#name').text('Name : ' + decodeURI($.cookie("name")));
    $('#level').text('Level : ' + $.cookie("level"));
    $('.content').hide();
    $('#count').hide();

    var countdown;
    var q;
    var res;
    const delay = 5000;

    var hp_a = 100;
    var hp_o = 100;

    $('#start').focus();
    $('#start').focusout(function() {
      if($(this).is(":visible")){
        $(this).focus();
      }
    })

    $('#ans').focusout(function() {
      if($(this).is(":visible")){
        $(this).focus();
      }
    })

    function act(){
      $('#ans').val('');
      clearInterval(countdown);
      $('#start').text('Next');
      $('.content').hide();
      setTimeout(function() {
        $('#start').show();
        $('#start').focus();
      }, delay);
    }

    function atkOpponent(){
      hp_o -= 10;
      $('#opponent').css("width", hp_o+'%');
      if(hp_o <= 20){
        $('#opponent').css("background-color", "red");
      } else if(hp_o <= 60){
        $('#opponent').css("background-color", "yellow");
      } else {
        $('#opponent').css("background-color", "#0dc90d");
      }

      if(hp_o <= 0){
        var form = $('<form action="/result" method="POST">' +
                       '<input type="hidden" name="result" value="win">' +
                     '</form>');
        $(document.body).append(form);
        // form.submit();
      }
    }

    function atkAlly(){
      hp_a -= 50;
      $('#ally').css("width", hp_a+'%');
      if(hp_a <= 20){
        $('#ally').css("background-color", "red");
      } else if(hp_a <= 60){
        $('#ally').css("background-color", "yellow");
      } else {
        $('#ally').css("background-color", "#0dc90d");
      }

      if(hp_a <= 0){
        var form = $('<form action="/result" method="POST">' +
                       '<input type="hidden" name="result" value="lose">' +
                     '</form>');
        $(document.body).append(form);
        // form.submit();
      }
    }

    $('#start').click(function() {
      $(this).hide();
      $('.content').show();
      $('#count').show();
      $('#count').html('<font size="5">start</font>');
      q = Math.floor((Math.random() * 100) + 1) + '+' + Math.floor((Math.random() * 100) + 1);
      res = eval(q);
      $('#q').text(q);
      $('#ans').focus();

      var count = 10;
      countdown = setInterval(function() {
        $('#count').text(count);
        count--;
        if (count < 0) {
          $('#count').html('<font color="red">Time out</font>');
          act();
          setTimeout(function() {
            atkAlly();
          }, delay);
        }
      }, 1000);

    });

    $('#submit').click(function() {
      var a = $('#ans').val();
      if (a == res) {
        $('#count').html('<font color="#0dc90d" size="5">right</font>');
        setTimeout(function() {
          atkOpponent();
        }, delay);
      } else {
        $('#count').html('<font color="red" size="5">Wrong</font>');
        setTimeout(function() {
          atkAlly();
        }, delay);
      }
      act();
    });

    /****************************************
    *    โค้ดส่วนนี้ นำมาจาก
    *    http://stackoverflow.com/questions/9146651/trigger-an-event-on-click-and-enter
    */
    $('#ans').keypress(function(e) {
      if (e.which == 13) {
        $('#submit').click();
      }
    });
    /***************************************/
  </script>
</body>

</html>
